<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Test Web">

    <test verbose="0" name="First My Test - Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://magang.dikahadir.com/authentication/login"/>
        <classes>
            <!-- <class name="com.juaracoding.selenium.testcases.ImportStrukturUser" />
            <class name="com.juaracoding.selenium.testcases.ImportStrukturUserNeg" /> -->
            <class name="com.juaracoding.selenium.testcases.ImportAbsen" />
            <!-- <class name="com.juaracoding.selenium.testcases.ImportAbsenNeg" /> -->
            <!-- <class name="com.juaracoding.selenium.testcases.ImportCuti" /> -->
            <!-- <class name="com.juaracoding.selenium.testcases.ImportCutiNeg" /> -->
        </classes>
    </test>

    </suite>