<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Test Web">
    <parameter name="url" value="https://magang.dikahadir.com/authentication/login"></parameter>
    <test verbose="0" name="Firt My Test">
        <classes>
            <class name="com.juaracoding.selenium.authentication.SigInTest" />
            <class name="com.juaracoding.selenium.authentication.ImportAbsen" />
            <class name="com.juaracoding.selenium.authentication.ImportCuti" />
            <class name="com.juaracoding.selenium.ImportCutiNeg" />
        </classes>
    </test>
</suite>